/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* --color-bg: #1f1f38; */
  --color-bg: #0a0a14;
  --color-bg-variant: #2c2c6c;
  /* --color-primary: #4db5ff; */
  --color-primary: #4dfff6;
  --color-mineImage: #0bfce0;
  /* --color-primary-variant: rgb(77, 181, 255, 0.4); */
  --color-primary-variant: rgba(9, 150, 250, 0.4);
  --color-white: #fff;
  /* --color-light: rgb(255, 255, 255, 0.4); */
  --color-light: rgb(195, 236, 241);
  --color-btn: #1e9bff;
  --color-btn2: #C70A80;

  --transition: all 500ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(./assets/bg-texture.png);
}

/* ===========  GENERAL STYLES =========== */


.mycontainer {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--color-light);
}

section>h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.mytext-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.mybtn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.newbtn {
  position: relative;
  background: #444;
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 30px;
  transition: 0.5s;
}

.newbtn:hover {
  letter-spacing: 0.25em;
  background: var(--color-btn);
  color: #fff;
  box-shadow: 0 0 35px var(--color-btn);
}

.newbtn::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.newbtn span {
  position: relative;
  z-index: 1;
}

.newbtn i {
  position: absolute;
  inset: 0;
  display: block;
}

.newbtn i::before {
  content: '';
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color-primary);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.newbtn:hover i::before {
  width: 20px;
  left: 20%;
}

.newbtn i::after {
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color-primary);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.newbtn:hover i::after {
  width: 20px;
  left: 80%;
}

/* ===============  nwe btn 2  =============== */
.newbtn2 {
  position: relative;
  background: #444;
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 10px 30px;
  transition: 0.5s;
}

.newbtn2:hover {
  letter-spacing: 0.25em;
  background: var(--color-btn2);
  color: #fff;
  box-shadow: 0 0 35px var(--color-btn2);
}

.newbtn2::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}

.newbtn2 span {
  position: relative;
  z-index: 1;
}

.newbtn2 i {
  position: absolute;
  inset: 0;
  display: block;
}

.newbtn2 i::before {
  content: '';
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color-primary);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.newbtn2:hover i::before {
  width: 20px;
  left: 20%;
}

.newbtn2 i::after {
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color-primary);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

.newbtn2:hover i::after {
  width: 20px;
  left: 80%;
}

/* ===============  nwe btn 2 end =============== */


.mybtn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}


.mybtn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* =========== Media Queries (Medium divices) =========== */

@media screen and (max-width: 1024px) {
  .mycontainer {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}


/* =========== Media Queries (Small divices) =========== */

@media screen and(max-width: 600px) {
  .mycontainer {
    width: var(--container-width-sm);
  }

  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}